a {
    color: #12C
}

header, footer, .container {
    max-width: 45em;
    margin: 0 auto
}

header {
    padding: 0 .5em;
    color: #C90B0B
}

header img {
    border-radius: 40px;
    float: left
}

@media only screen and (max-width: 480px) {
    header p {
        padding-left: 4.5em
    }
}

header p {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 4em
}

header p span {
    font-size: .8em;
    font-weight: 400
}